version: '3.8'

services:
  # --- Backend Service ---
  backend:
    build: ./lab3/withlist-api  # Шлях до Dockerfile бекенду
    container_name: wishlist-backend
    restart: always
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=appdb
      - REDIS_URL=redis://redis:6379
      - SECRET_KEY=super_secret_key_123
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
      - ALLOWED_ORIGINS=*
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "8000:8000"
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M

  # --- Frontend Service ---
  frontend:
    build: ./lab3/wishlist-ui  # Шлях до Dockerfile фронтенду
    container_name: wishlist-frontend
    restart: always
    ports:
      - "80:80"  # Frontend буде доступний на порту 80 (стандартний для сайтів)
    depends_on:
      - backend
    networks:
      - app-network

  # --- Database Service ---
  postgres:
    image: postgres:15-alpine
    container_name: wishlist-db
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=appdb
    volumes:
      - postgres_data:/var/lib/postgresql/data  # Збереження даних (Persistent storage)
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d appdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- Cache Service ---
  redis:
    image: redis:7-alpine
    container_name: wishlist-redis
    restart: always
    volumes:
      - redis_data:/data  # Збереження кешу
    networks:
      - app-network

volumes:
  postgres_data:
  redis_data:

networks:
  app-network:
    driver: bridge